<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Etrans.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>0CFC010B0CED3B17745AA8B16B3D19E74FD76A18</string>
				<key>dateExpires</key>
				<string>2019. 4. 11.</string>
				<key>type</key>
				<string>iOS Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0CFC010B0CED3B17745AA8B16B3D19E74FD76A18</string>
						<key>dateExpires</key>
						<string>2019. 4. 11.</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>GoogleToolboxForMac.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BETFGY29Z7</string>
						<key>name</key>
						<string>Eunim Tahk</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0CFC010B0CED3B17745AA8B16B3D19E74FD76A18</string>
						<key>dateExpires</key>
						<string>2019. 4. 11.</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Protobuf.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BETFGY29Z7</string>
						<key>name</key>
						<string>Eunim Tahk</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0CFC010B0CED3B17745AA8B16B3D19E74FD76A18</string>
						<key>dateExpires</key>
						<string>2019. 4. 11.</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BETFGY29Z7</string>
						<key>name</key>
						<string>Eunim Tahk</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>BETFGY29Z7.kr.co.klnet.etrans.Etrans</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.team-identifier</key>
				<string>BETFGY29Z7</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>Etrans.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>2299ef2d-037c-4b67-9783-c39cf588f1cd</string>
				<key>name</key>
				<string>newmEtransDEV</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>BETFGY29Z7</string>
				<key>name</key>
				<string>Eunim Tahk</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
